nav.navbar.navbar-expand-lg.fixed-top.navbar-dark.bg-dark
  a.navbar-brand(href='/') myDiary
  button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
    span.navbar-toggler-icon 
  #navbarSupportedContent.collapse.navbar-collapse
    ul.navbar-nav.mr-auto
      li.nav-item
        a.nav-link(href='/')
          | Home 
          span.sr-only (current)
      li.nav-item
        a.nav-link(href='') Inquiry
      li.nav-item
        a.nav-link(href='') Contact
    .form-inline.my-2.my-lg-0
      ul.navbar-nav.mr-auto
        if isAuthenticated
          li.nav-item
            a.nav-link(style='color:rgb(87, 216, 87);' href=('/wall/' + user._id), data-toggle="popover", data-content="Wall") Wall
          li.nav-item
            a.nav-link(style='color:rgb(87, 216, 87);' href=('/users/profile/' + user._id), data-toggle="popover", data-content=(user.firstName + "'s profile"))
              img(src=(user.photo !== undefined ? user.photoPath : ''), alt=(user.firstName), width="30", heigth="30")
          li.nav-item
            a.nav-link(style='color:rgb(87, 216, 87);' href='/users/logout') logout
        else
          li.nav-item.sgl
            a.nav-link(href='/users/registration' style='color:rgb(72, 226, 72);') sign up
          li.nav-item
            a.nav-link(style='color:rgb(87, 216, 87);' href='/users/login') login
