extends layout

block content
    h1 Welcome myDiary
    include ./posts/story
    +post(posts)
    if !isAuthenticated
        a.btn.btn-primary(href= `/users/registration`) sign up
        a.btn.btn-primary(href= `/users/login`) login